@import "../../variables.css";

.wrapper {
    width: 80%;
    background-color:  var(--main-background-color);
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 30px var(--box-shadow-color) ;
    padding: 30px;
    margin: 0 auto;
    position: relative;
}
.button{
    align-self: center;
    margin: 0 auto;
    background-color: var(--buttons-color);
    border-radius: 15px;
    height: 30px;
    width: 40%;
    box-shadow: 0px 0px 30px var(--box-shadow-color) ;
    font-weight: bold;
    margin-top: 10px;
}
.playlistName {
    background-color: #69090900;
    font-size: 18px;
    border: 0;
    font-weight: bold;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 5px;
    color: var(--main-text-color)

}

@media screen and (min-width:720px) {
    .wrapper {
        width: 25%;
    }
}