.lay {
  display: flex;
  margin: 0, auto;
  gap: 20px;
  min-height: 800px;
  flex-direction: column;
}
.header {
  width:100%;
  background-color:  #690909CC;
  text-align: center;
}
.headerImage {
  width: 40px;
  height: auto;
}
.boom {
  color: rgb(252, 20, 20);
  text-shadow: 
  -2px -2px 0 #000000,  
  2px -2px 0 #000000,
  -2px 2px 0 #000000,
  2px 2px 0 #000000;
}

@media screen and (min-width:720px){
  .lay {
    flex-direction: row;
    min-height: 600px;
  }
  
}