@import "./variables.css";


.lay {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  min-height: 800px;
  flex-direction: column;
}
.header {
  width:100%;
  background-color:  var(--main-background-color);
  text-align: center;
}
.header__image {
  width: 40px;
  height: auto;
}
.header__logo {
  color: var(--logo-text-color);
  text-shadow: 
  -2px -2px 0 var(--text-shadow-color),  
  2px -2px 0 var(--text-shadow-color),
  -2px 2px 0 var(--text-shadow-color),
  2px 2px 0 var(--text-shadow-color);
}

@media screen and (min-width:720px){
  .lay {
    flex-direction: row;
    min-height: 600px;
  }
  
}