:root {
    --box-shadow-color: #530707;
    --main-background-color: #690909CC;
    --border-color:  #360505;
    --main-text-color: #e5ff00;
    --buttons-color: #470707cc;
    --logo-text-color: #fc1414;
    --text-shadow-color: #000000;
}